{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
    body,
    html {
        height: 100%;
        background: linear-gradient(90deg, #F8D8DC 50%, #FFFFFF 50%);
    }

    @media (max-width: 600px) {

        body,
        html {
            background: #ffffff;
        }

        .leftside {
            height: 90%;
            display: flex;
            align-items: center;
            vertical-align: center;
        }

        .rightside {
            align-items: center;
            
        }
    }

    @media (max-width: 991px) {

        .btn,
        .btn-primary,
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:visited {
            font-size: 30px;
            width: 260px;
        }
    }

    @media (max-width: 390px) {
        .leftside {
            height: 60%;
        }

        body,
        html {
            background: #ffffff;
        }
    }
</style>

<body>

    <div class="row w-100">

        <div class="col-md-4 col-sm-12 ml-auto pb-5 mx-auto align-content-center ">

            <div class="rightside  d-flex align-items-center">
                <div class="col-md-12 pb-5 align-middle" align="center">
                    <a href="{% url 'generate' random_num %}" class="btn btn-primary btn-block"> Generate Your Own</a>
                </div>
            </div>

        </div>
        <div class="col-md-5 col-sm-12 pb-md-5 mx-auto">

            <div class="leftside">
                <h1 style="color:#B5838D">{{ sample.title }}</h1>
                <img class="leftside" src="{% static sample.image %}">
                <h2 style="color:#B5838D">{{sample.description}}.</h2>

            </div>

        </div>



    </div>

</body>

{% endblock  %}